.speech {
    color: black;
     font-size: small;
     font-family: 'Courier New', Courier, monospace;
   }

.direction {
    color: black;
    font-size: medium;
    background-color: aquamarine;
    
     font-family: 'Courier New', Courier, monospace;
   }
   .direction:hover {
     color: red;
     background-color: antiquewhite;
   }

.name {
    color: black;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;
   }
.MR.QUIRKE {
    color: red;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;
}
.MRS.DELANE {
    color: yellow;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;

}
.MISS.JOYCE {
    color: skyblue;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;

}